<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>itemLostPlace</key>
			<string>Graydon Hall dr</string>
			<key>itemLostDate</key>
			<date>2019-07-21T03:09:36Z</date>
			<key>itemImage</key>
			<string></string>
			<key>itemReward</key>
			<string>$50</string>
			<key>ItemDescription</key>
			<string>remote</string>
			<key>ItemCat</key>
			<string>Elec</string>
			<key>ItemName</key>
			<string>Remote</string>
			<key>ItemId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>itemLostPlace</key>
			<string>lambton college</string>
			<key>itemLostDate</key>
			<date>2019-07-21T03:11:03Z</date>
			<key>itemImage</key>
			<string>logo.png</string>
			<key>itemReward</key>
			<string>$45</string>
			<key>ItemDescription</key>
			<string>red Toy</string>
			<key>ItemCat</key>
			<string>Toys</string>
			<key>ItemName</key>
			<string>Car Toy</string>
			<key>ItemId</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
