<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>ItemDescription</key>
			<string>remote</string>
			<key>ItemCat</key>
			<string>Elec</string>
			<key>ItemName</key>
			<string>Remote</string>
			<key>ItemId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ItemDescription</key>
			<string>red Toy</string>
			<key>ItemCat</key>
			<string>Toys</string>
			<key>ItemName</key>
			<string>Car Toy</string>
			<key>ItemId</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
